/* ------ Specification ------ */
@import url('https://fonts.googleapis.com/css2?family=Loved+by+the+King&display=swap');
* {
	margin: 0;
    padding: 0;
    box-sizing: border-box;
	font: 400 14px 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
	color: #383838;
	overflow-x: hidden;
}

p {
	margin: 0;
    line-height: 1.4em;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: 700;
	line-height: 1.6em;
}

h1 {
	font-size: 45px;
	color: #fff;
}

h3 {
	font-size: 18px;
}

a, a:hover, a:active {
	text-decoration: none;
}

a, button, input {
	transition: all 0.8s ease-in-out;
	background: transparent;
	color: #253c2a;
}

img {
	max-width: 100%;
}

button, button:hover, button:focus, button:active, .slick-initialized .slick-slide  {
	outline: none;
	border: none;
}

.container {
	max-width: 1200px;
    margin: 0 auto;
}

.text, .title {
	letter-spacing: 0.01em;
	font-weight: 700;
}

.title {
	font-size: 21px;
	text-align: center;
	margin: 65px 0;
} 

.text {
	font-size: 42px;
}

.menu__list a:hover, .footer-contact a:hover,
 .phone__number:hover, .offer__arrow {
	color: #54c90c61;
}

.lighting {
	position: relative;
	text-align: center;
	padding: 110px 0 40px;
}

.lighting:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    opacity: .4;
	z-index: -1;
}

.lighting:before, .slider-wrapper {
	border-radius: 25px;
}

.d-flex {
	display: flex;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-around {
	justify-content: space-around;
}

/* ------ Header ------ */

.header {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	padding: 20px 90px;
	background-color: #fff;
    z-index: 10;
    transition: 0.5s;
}

.navigation {
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
	font-weight: 600;
}

.header.sticky {
    padding: 20px 90px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.logo__round {
	display: flex;
	justify-content: center;
	align-items: center;
    width: 75px;
	height: 75px;
    border-radius: 50%;
    background-color: #54c90c61;
    z-index: -1;
}

.logo__first {
	font-size: 28px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: #383838;
}

.logo__second {
	max-width: 115px;
	margin: 0 0 0 22px;
	letter-spacing: 0.05em;
	text-transform: none;
	font-weight: 600;
	line-height: 1.3em;
}

.menu__list a {
	display: inline-block;
	position: relative;
	top: 30%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	padding: 0 25px 45px;
	font-size: 16px;
}

.menu__list a:after {
	display: block;
	content: "";
	background-color:#54c90c61;
	height: 2px;
	margin-top: 45px;
	width: 0;
	left: 50%;
	position: absolute;
	-webkit-transition: width .6s ease-in-out;
	-moz--transition: width .6s ease-in-out;
	transition: width .6s ease-in-out;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
}

.menu__list a:hover:after,
.menu__list a:focus:after {
	width: 100%;
}

.phone__menu {
	display: none;
}

.phone {
	background-color: transparent;
	position: relative;
	padding: 0 0 0 40px;
}

.phone:before {
	content: url("../img/smartphone.svg");
	text-align: center;
	display: block;
	background-repeat: no-repeat;
	top: -25%;
	left: 0;
	position: absolute;
}

.phone__number{
	margin-left: 1px;
	font-weight: 600;
	font-size: 17px;
}

.back {
	margin-top: 115px;
}

.offer:before {
    background: #d2e7e9 url("../img/ventanas.jpg") no-repeat top center / cover;
}

.offer__title {
	font-size: 40px;
	text-transform: uppercase;
	color: #383838;
	margin-top: -4px;
}

.offer__text {
	font-size: 25px;
}

.offer__text_about {
	max-width: 545px;
	font-size: 17px;
	margin: 9px auto 33px;
}

.offer__text_info {
	padding: 0 10px;
	margin: 0 auto;
	text-align: center;
	max-width: 600px;
	font-family: 'Loved by the King', cursive;
	font-size: 18px;
}

.offer__btn {
	display: block;
	outline: none;
	margin: 100px auto 0;
	width: 180px;
	padding: 15px;
	font-weight: 600;
	text-transform: uppercase;
	background-color: #D4FDBA;
	border: 1px solid #54c90c61;
	border-radius: 45px;
	cursor: pointer;
	transition: all .3s;
}

.offer__btn:hover, .offer__arrow:hover {
	background-color: #fff;
	color: #59723f;
	border: 1px solid #59723f;
}

.offer__arrow {
    width: 40px;
    height: 40px;
    line-height: 37px;
	display: block;
    margin: 100px auto 0;
    font-size: 17px;
    border: solid 1px #54c90c61;
    border-radius: 50%;
    text-align: center;
    letter-spacing: -1px;
}

/* ------ Services ------ */

.propous {
    background-color: rgba(157, 236, 155, 0.1);
	display: flex;
	align-items: center;
	margin: 25px auto 0;
	padding: 25px 20px;
	border-radius: 55px;
	border: 1px solid#54c90c61;	
}

.propous__img_icon {
    width: 100px;
    height: 130px;
    display: block;
}

.propous__info {
	max-width: 250px;
	margin: 0 10px;
}

.propous__text span {
	display: inline-block;
}

.text-right {
	text-align: right;
}

/* ------ Information ------ */

.information {
	padding: 0 0 25px 0;
}

.flex-wrapper {
    display: flex;
	justify-content: center;
}

.slider-wrapper {
	width: 100%;
	position: relative;
}

.slide {
	margin: 0 10px;
	height: 70vh;
}

.slick-prev, .slick-next {
    display: none;
}

.slide__first:before {
    background: #d2e7e9 url("../img/kitchen.jpg") no-repeat center / cover;
}

.slide__second:before {
    background: #d2e7e9 url("../img/ofice.jpg") no-repeat center / cover;
}

.slide__third:before {
    background: #d2e7e9 url("../img/Apart.webp") no-repeat center / cover;
}

.slide__four:before {
    background: #d2e7e9 url("../img/img2.jpg") no-repeat center / cover;
}

.slick-dots li button:before {
    font-size: 35px; 
}

/* ------ Footer ------ */

.footer {
	padding: 50px 0;
}

.footer-title {
	font-weight: 700;
	letter-spacing: 0.03em;
	margin-bottom: 26px;
}

.footer-wrap__second {
	max-width: 135px;
    margin: 25px 0 0 0;
}

.footer-wrap__text {
	max-width: 200px;
	margin-top: 40px;
	font-size: 15px;
	line-height: 1.6em;
}

.footer-title {
	text-align: center;
}

.footer-list {
	font-size: 15px;
	letter-spacing: 0.01em;
}

.footer-contact__list li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-contact__item {
	align-items: center;
}

.footer-contact__number {
	display: flex;
	flex-direction: column;
}

.footer-contact__text {
	max-width: 198px;
	margin-left: 15px;
	font-size: 15px;
	letter-spacing: 0.01em;
	line-height: 1.5em;
}

.footer-wrap__soc {
	display: flex;
	margin-top: 20px;
	justify-content: space-around;
}

.footer-wrap__item img {
	width: 60px;
	height: 58px;
}

.footer-wrap__link{
	font-size: 18px;
}

.footer-line {
	margin-top: 30px;
	text-align: center;
}

.footer-line__row {
	border-top: 1px solid #C4C4C4;
}

.footer-line__info {
	margin-top: 20px;
}

/*- Modal window -*/

.window {
	position: fixed;
	z-index: 3;
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	top: 5%;
	display: none;
}

.window__form {
	max-width: 500px;
	padding: 45px 55px 40px 60px;
	position: relative;
	margin: 100px auto 100px;
	background: #fff;
	border: 1px solid #D4FDBA;
	border-radius: 25px;
}

.window__closed {
	position: absolute;
	right: 5%;
	top: 5%;
	color: #858585;
	font-size: 16px;
	cursor: pointer;
}

.window__title {
	max-width: 440px;
	font-weight: 700;
	text-transform: none;
	font-size: 26px;
}

.input__title {
	margin-top: 20px;
}

.window__text {
	font-size: 16px;
	color: #858585;
	margin-top: 15px
}

.window input, textarea {
	width: 98%;
	padding: 8px 0;
	border: 1px solid #C3C3C3;
	border-radius: 10px;
}

textarea {
	resize: none;
	height: 110px;
}

.window__submit {
	margin-top: 30px;
	max-width: 170px;
}

/*- /Modal window end -*/

/*--- Media Adaptive for devices --*/

@media screen and (max-width: 1200px) {
	.container {
		max-width: 970px;
	}

	.header {
		padding: 20px 50px;	
	}

	.menu__list a {
		padding: 0 18px 45px;
	}

	.offer__title {
		line-height: 1.3em;
	}

	.flex-wrapper {
		justify-content: space-around;
	}
}

/* 768 - 992 px */

@media screen and (max-width: 992px) {
	.container {
		max-width: 750px;
	}
	
	.title {
		margin: 20px 0;
	}
	.header,
    .header.sticky {
        padding: 20px 30px;
        z-index: 10
	}
	
	.menu__list {
		flex-direction: column;
	}

	.menu__list a {
		padding-bottom: 10px;
		margin-bottom: 50px;
	}

	.menu__list a:after {
		margin-top: 10px;
	}

	.menu__list a:hover:after,
	.menu__list a:focus:after {
		width: 80%;
	}

	.menu{
        position: fixed;
        top: 100px;
        left: -100%;
        display: block;
        padding: 40px 20px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        transition: 0.5s;
        z-index: 9;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .menu.active {
        left: 0;
    }

    .header ul li a {
        color: #111;
        font-size: 18px;
    }

	.toggle, .toggle.active {
		width: 40px;
		height: 40px;
		cursor: pointer;
		filter: invert(1);
	}
    .toggle {
        background: url(../img/menu.png) no-repeat center;
        background-size: 30px;
    }

    .toggle.active {
        background: url(../img/close.png) no-repeat center;
        background-size: 25px;
    }
	
	.offer__title {
		font-size: 40px;
	}

	.text {
		font-size: 32px;
	}

	.back {
		padding-bottom: 20px;
	}

	.propous {
		padding: 15px 10px;
		max-width: 370px;
	}

}

/* 576 - 768 px */
@media screen and (max-width: 767px) {

	.container {
		max-width: 576px;
	}

	.phone {
		display: none;
	}

	.phone__menu {
		display: block;
	}

	.lighting {
		position: relative;
		text-align: center;
		padding: 55px 0 30px;
	}

	.offer__text {
		font-size: 17px;
		margin-bottom: 15px;
	}

	.offer__title {
		font-size: 30px;
	}

	.text {
		font-size: 28px;
	}

	.proposes, .propous {
		flex-direction: column;
	}

	.propous {
		max-width: 95%;
		padding: 5px 10px;
		margin: 10px auto;
	}

	.propous__info {
		max-width: 95%;
		margin: 0 10px;
	}

	.flex-reverse {
		flex-direction: column-reverse;
	}

	.propous__info {
		margin: 0;
		text-align: center;
	}

	.footer-wrapper {
		flex-direction: column;
		align-items: center;	
	}

	.footer-contact {
		margin: 20px 0;
	}

	.window__form {
		max-width: 415px;
		padding: 35px 30px;
	}

	.window__title {
		font-size: 20px;
	}

	.input__title {
		margin-top: 20px;
	}

	.window__text {
		font-size: 14px;
		margin-top: 15px
	}
}

/* 320 - 576 px */
@media screen and (max-width: 576px) {
	.container {
		max-width: none;
		padding: 0 10px;
	}

	h3 {
		font-size: 16px;
	}

	.window__form {
		width: 85%;
	}
}





